@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;1,400;1,900&display=swap');
*{
    margin: 0;
    box-sizing: border-box;
}
body{
    color: #3d3b47;
    font-family: 'Roboto', sans-serif;
    width: 100vw;
    height: 100vw;
}
h2{
    font-weight: 900;
    font-size: 40px;
    margin-bottom: 3%;
}
li{
    list-style: none;
}
a{
    text-decoration: none;
}
input {
    background-color: #f6f7fb;
    border-color: transparent;
    border-radius: 25px;
    box-shadow: 0 0 29px 0 rgb(134 134 134 / 25%);
    margin-left: 1%;
    padding: 1%;
}
.section {
    display: flex;
    justify-content: center;
    padding: 5%;
    text-align: center;
}
.background{
    background:linear-gradient(60deg,rgb(255, 224, 253),#ffff);
    width: 100%;
}
.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.cards{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
}
.pinkBackground{
    background-color:#ed64bd;
}
