@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;1,400;1,900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    color: #3d3b47;
    font-family: 'Roboto', sans-serif;
}
a{
    text-decoration: none;
}
h2{
    font-weight: 900;
    font-size: 40px;
    margin-bottom: 15px;
}
input {
    border-radius: 25px;
    padding: 10px;
    margin-left: 3%;
}
.section {
    display: flex;
    justify-content: center;
    padding: 110px 40px 130px;
    text-align: center;
}
.background{
    background:linear-gradient(60deg,rgb(255, 224, 253),#ffff);
    width: 100%;
}
.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.cards{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
}
.pinkBackground{
    background-color:#ed64bd ;
}
