.conocimientos{
    background-color: #ffffff;
}
.conocimientos:hover{
    color: #c69;
    opacity: 0.6;
    transition: 0.3s;
}
.titleCards{
    font-size: 20px;
    font-weight: 900;
}
.fontSize{
    font-size: 100px;
    margin-top: 3%;
    margin-bottom: 3%;
}
.fa-html5{
    color: #e54d26;
}
.fa-css3-alt{
    color: #3d8fc6;
}
.fa-sass{
    color:#c69;
}
.fa-js{
    color: #f0db4f;
}
.fa-react{
    color:#61dafb;
}
.fa-git-alt{
    color:#f34f29;
}
