.cardsContent{
    background-color: #fff;
    border: 1px transparent #dddfe5;
    box-shadow: 0 0 2px 0 #ed64bd;
    border-radius: 8px;
    width: 30%;
    height: 20%;
    margin: 1%;
    margin-top: 5%;
    padding: 5%;
}
.cardsContent:hover{
    border: 1px solid #ed64bd;
    box-shadow: 0 0 10px 0 #ed64bd;
}
.titleCards{
    font-size: 20px;
    font-weight: 900;
}
.fontSize{
    font-size: 100px;
    margin-top: 3%;
    margin-bottom: 3%;
}
.fa-html5{
    color: #e54d26;
}
.fa-css3-alt{
    color: #3d8fc6;
}
.fa-sass{
    color:#c69;
}
.fa-js{
    color: #f0db4f;
}
.fa-react{
    color:#61dafb;
}
.fa-git-alt{
    color:#f34f29;
}
