.footer{
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-bottom: 3%;
    width: 100%;
}
.navFooter{
    align-items: center;
    color: #ffff;
    display: flex;
    font-size: 13px;
    justify-content: center;
    margin-top: 2%;
    margin-bottom: 2%;
}
.navFooter:hover{
    color: #ffc8fb;
    transition: 0.3;
}
.ulIconos{
    align-items: center;
    display: flex;
    justify-content: center;
    margin-bottom: 2%;
}
.medidasIconos{
    align-items: center;
    background-color: #ffc8fb;
    border-radius: 100%;
    color: #ed64bd;
    display: flex;
    justify-content: center;
    margin: 15%;
    padding: 10%;
}
.medidasIconos:hover{
    background-color:#ed64bd;
    color: #ffff;
    transition: 0.3;
}
.sizeIcons{
    font-size: 30px;
}
.txtFooter{
    color: #ffff;
}
