.footer {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-bottom: 3%;
    width: 100%;
}
.navFooter {
    align-items: center;
    color: #ffff;
    display: flex;
    font-size: 13px;
    justify-content: center;
    margin-top: 2%;
    margin-bottom: 2%;
}
.navFooter:hover {
    color: #ffc8fb;
    transition: 0.3s;
}
.ulIconos {
    width: 30%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-bottom: 2%;
}
.medidasIconos {
    background-color: #ffc8fb;
    border: 1px solid white;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    color: #ed64bd;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.3s;
}
.medidasIconos:hover {
    background-color: #ed64bd;
    color: #ffff;
    transition: 0.3s;
}
.sizeIcons {
    font-size: 30px;
}
.txtFooter {
    color: #ffff;
}
