@media (min-width: 300px) and (max-width: 700px) {
    header {
        display: none;
    }
    h2{
        font-size: 30px;
    }
    a {
        display: none;
    }
    .pmobile {
        display: none;
    }
    .containerHola {
        flex-direction: column-reverse;
    }
    .containerImagenHola {
        width: 100%;
    }
    .imagenHola {
        margin-top: 5%;
        margin-bottom: 3%;
    }
    .textoHola {
        align-items: center;
        justify-content: center;
        text-align: center;
        width: 100%;
    }
    .cardsContent {
        align-items: center;
        display: flex;
        height: 100px;
        justify-content: center;
        width: 100px;
    }
    .titleCards {
        display: none;
    }
    .conocimientos{
        width: 120px;
    }
    .fa-quote-right{
        display: none;
    }
    .quoteMobile{
        font-size: 17px;
    }
    .fontSize {
        font-size: 70px;
        align-items: center;
    }
    .cardsProyect.conocimientos {
        justify-content: center;
        align-items: center;
    }
    .proyects{
        justify-content: center;
        height: 150px;
        width: 300px;
    }
    .contactameEscribime {
        align-items: center;
        flex-direction: column;
        justify-content: center;
        width: 300px;
        margin: 2%;
    }
    .nombreApellido {
        flex-direction: column;
}
.iconosRedes{
    display: flex;
    flex-direction:row;
    justify-content: center;
    align-items: center;
    margin: 2%;
}
.fontIcon{
    padding: 3px;
    margin: 5px;
    margin-left: 10px;
}
input{
    margin-bottom: 2%;
}
input:focus{
    border: #ed64bd;
}
    .contactoParrafo {
        display: none;
    }
    .contactoForm {
        width: 100%;
    }
    .fontIcon {
        font-size: 35px;
        justify-content: center;
        align-items: center;
    }
    .ulIconos{
        display: none;
    }
    .txtFooter {
        color: #ffc8fb;
    }
    .navFooter{
        display:none;
    }
}

@media (min-width: 400px) and (max-width: 800px) {
    header{
        display: none;
    }
    a{
        display: none;
    }
    input{
        margin-bottom: 2%;
    }
    input:focus{
        border: #ed64bd;
    }
    .containerHola {
        flex-direction: column-reverse;
    }
    .imagenHola {
        margin-top: 5%;
        margin-bottom: 3%;
    }
    .textoHola {
        align-items: center;
        justify-content: center;
        text-align: center;
        width: 100%;
    }
    .cards {
        align-items: center;
        flex-wrap: wrap;
        justify-content: center;
    }
    .cardsProyect.conocimientos {
        justify-content: center;
        align-items: center;
        width: 200px;
        height: 200px;
        margin: 5px;
    }
    .proyectos{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .fontSize {
        font-size: 90px;
    }
    .quoteMobile {
        font-size: 17px;
    }
    .titleCards {
        display: none;
    }
    .cardsProyect {
        display: flex;
        height: 200px;
        width: 400px;
    }
    .contactameEscribime {
        align-items: center;
        flex-direction: column;
        justify-content: center;
        width: 500px;
    }
    .iconosRedes{
        display: flex;
        flex-direction:row;
        justify-content: center;
        align-items: center;
        margin: 2%;
    }
    .fontIcon{
        font-size: 40px;
        padding: 3px;
        margin: 15px;
        
    }
    .contactoParrafo {
        display: none;
    }
    .contactoForm {
        width: 100%;
    }
    .nombreApellido {
        flex-direction: column;
}
    .ulIconos{
        display: none;
}
    .navFooter{
        display: none;
}
}