.pinkBackground{
    background-color:#ed64bd ;
}
.containerQuote{
    color:#ffff;
}
.fa-quote-right{
    font-size: 100px;
    margin-bottom: 50px;
}
.quoteText{
    font-weight: 700;
    margin: 30px;
}
